* {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    width: 100%;
}

header {
    padding: 2rem 0;
    background-color: rgb(98, 98, 222);
}

@media screen and (min-width: 0px){
    
nav {
    display: flex;
    padding-inline: 2rem;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li{
        text-align: center;
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}

}
    


@media screen and (min-width: 768px){
    ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    li{
        text-align: center;
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}

    }


